.header{
    background-color: rgb(34, 34, 34);
}
.list{
color: #fff;
}
.list:hover{
    color :#d3cfb3;
}
.billinvent text{
    color: #222;
}
.headername{
    color: #fff;
}
.svg-object {
    filter: invert(1);
}